*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
}
:root{
    --main-bg-color: #010151;
}
body{
    font-family: Arial, sans-serif;
}
.main_class{
    background-color: #dadae9;
}
.main_images {
    height: 40vh;
    display: flex;

}
.main_image_title{
    color: black;
}
.main_image_title.active{
    display: inline;
}
.slide_image{
    display: none;
    text-align: center;
    position: relative;
    width: 100%;
    display: none;
    margin-right: -100%;
    float: left;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}
.slide_image.active{
    display: block;
}
.slide_image img{
    width: auto;
    height: 100%;
}

.slider{
    position: relative;
    width: 40%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;

}

.slider_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 24px;
}
#prevbtn {
    left: 0px;
}
#nextbtn {
    right: 0px;
}
  
.slider_btn:hover {
    background-color: rgba(53, 39, 39, 0.8);
}
.main_container{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
    gap: 20px;
    padding: 28px;
}
.product{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 5%;
    padding: 10px;
}
.product_img{
    height: 80%;
}
.product_img img{
    width: 100%;
    height: auto;
}

.product_info h3{
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}
.product_info p{
    text-align: center;
    font-size: 18px;
    color: #333;
}


@media (max-width: 768px) {
    .slider{
        width: 100%;
    }
    .main_container{
        padding: 15px; /* Reduce padding on smaller screens */
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .product{
        width: 160px; /* Smaller product width */
        height: 250px;
    }
    .product_info h3,.product_info p{
        font-size: 14px;
    }
    .main_images{
        height: 30vh;
    }
    body{
        font-size: 14px;
    }
}